schemas/monitor.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
		targetNamespace="http://www.swin.edu.au/ict/road/monitor" 
		xmlns:tns="http://www.swin.edu.au/ict/road/monitor" 
		elementFormDefault="unqualified"
		version="1.3">
					
	<!-- monitor type -->		
	<xsd:complexType name="MonitorRoleType">
	
	     <!-- player attributes -->
		<xsd:attribute name="id" type="xsd:string" use="required"/>
		<xsd:attribute name="name" type="xsd:string"/>
	</xsd:complexType>
</xsd:schema>